@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: Meiryo, sans-serif;
    margin: 0;
    font-size: 0.9rem;
    color: #24292e;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    height: 270px;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

#contents_item ul{
    display: flex;
}

#contents_item li{
    padding: 0 10px;
}

#contents_item li:hover{
    opacity: 0.7;
}

#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height:420px;
    object-fit: cover;
}

.section_title{
    text-align: center;
    margin: 0;
}

.contents{
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 4% 0 4%;
}

#about ul{
    padding: 40px 0;
    margin: 0;
}

#about p{
    margin: 0;
}

#company_name{
    padding: 30px 0;
}

#works ul{
    margin: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#works li{
    width: 32%;
    margin-bottom: 1.3%;
}

#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: #C8C8C8 solid 1px;
    margin-top: 60px;
}

#news dt{
    width: 20%;
    padding: 13px 0;
    box-sizing: border-box;
    border-bottom: #C8C8C8 solid 1px;
}

#news dd{
    width: 80%;
    padding: 13px 0;
    box-sizing: border-box;
    margin: 0;
    border-bottom: #C8C8C8 solid 1px;
}

#contact form{
    margin: 70px 0;
}

#contact dl{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

#contact dt{
    width: 15%;
    box-sizing: border-box;
}

#contact dd{
    width: 85%;
    margin-left: 0;
    margin-bottom: 10px;
}

#contact dd input, 
#contact dd textarea{
    width: 96%;
    border: #C8C8C8 solid 1px;
    padding: 10px;
}

#contact dd textarea{
    height: 10rem;
}

.button{
    text-align: center;
}

.button input{
    background-color: #24292e;
    color: white;
    padding: 20px 85px;
}

.button input:hover{
    color: #24292e;
    background-color: white;
}

footer{
    color:white;
    background-color: #24292e;
    text-align: center;
    padding: 3px 0;
    font-size: 0.8rem;
}