@media screen and (max-width: 1024px) {
    *{
        max-width: 100%;
    }

    .inner{
        padding: 40px;
        margin: 0 auto;
    }

    #header{
        padding: 0 10px;
    }

    #mainvisual{
        padding: 0 10px;
    }

    #detail .content{
        flex-direction: column;
    }

    #detail .content img{
        width: 100%;
        margin: 0 0 25px;
    }

}